.faqSectionButton{
    border: #1E1E1E 2px solid;
    border-radius: 40px;
}

.faqHeadingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faqHeadingContainer {
    padding: 5px 20px 5px 20px;
}

.faqHeadingContainer>h2 {
    font-size: 18px;
    font-weight: 400;
}

.faqQAContainer {
    display: none;
    padding: 0px 20px 0px 20px;
}

.faqQAContainer>div>p {
    line-height: 25px;
}

.aboutIntroImage {
    max-width: 800px;
    width: 100%;
    height: auto;
}

.introContainer {
    display: flex;
    justify-content: space-around;
}

.introHeading {
    font-size: 30px;
    font-weight: 600;
}

.linkArrowIcon {
    max-width: 20px;
    height: auto;
}

.linkButton {
    background-color: #63C2C9;
    border: none;
    border-radius: 25px;
    padding: 15px 20px 15px 20px;
    font-weight: 400;
    text-decoration: none;
}

.introWrapper {
    max-width: 90%;
    display: flex;
}

.faqAllContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.textIntroWrapper {
    margin-bottom: 40px;
}

.introLinkButtonWrapper {
    width: 100%;
    text-align: end;
}

.leftWrapper {
    padding-right: 30px;
    max-width: 50%;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500px;
}

.textIntroWrapper>p {
    line-height: 25px;
}

.ourStoryImageContainer > img{
    max-width: 500px;
    height: auto;
}

.ourStoryWrapper{
    display: flex;
    margin: 0px 100px 0px 100px;
}

.ourStoryTextContainer{
    padding-right: 50px;
    padding-left: 40px;
    line-height: 25px;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.textUnderImageContainer{
    text-align: center;
}

.ourStoryHeading{
    font-size: 30px;
   margin-left: 100px;
    font-weight: 600;
}

.ourStoryContainer{
    margin: 100px 0px 100px 0px;
    box-shadow: 10px 4px 40px #d2d2d2;
    padding: 20px 0px 20px 0px;

}
.reportWrapper{
    width: 90%;
    display: flex;
}
.reportContainer{
    margin: 100px 0px 100px 0px;
    display: flex;
    justify-content: space-around;
}

.reportImageContainer > img{
    height: auto;
    width: 100%;
    max-width: 500px;
    max-height: none;
    box-shadow: 10px 4px 40px #d4d4d4;
}

.reportTextContainer {
    padding-left: 100px;
}

.reportTextContainer > h2 {
    font-size: 30px;
    font-weight: 600;
}

.reportTextContainer > p {
    max-width: 500px;
    line-height: 25px;
}
.reportLinks{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.tealButton{
    text-decoration: none;
    background-color: #63C2C9;
    border: none;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    font-size: larger;
    font-weight: 400;
    max-width: fit-content;
}

.historyOfReportsContainer{
    padding-top: 50px;
}

.historyOfReportsContainer a{
    text-decoration: none;
    border: solid #1E1E1E 2px;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    font-size: larger;
    font-weight: 500;
}

.historyOfReportsContainer > h3{
    font-size: 20px;
    font-weight: 500;
}

@media only screen and (max-width: 1500px){
    .ourStoryHeading{
        text-align: center;
        margin-left: 0px;
    }
    
    .ourStoryWrapper{
        flex-direction: column;
        margin: 0px 20px 0px 20px;
    }

    .ourStoryImageContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 1000px) {
    .introWrapper {
        flex-direction: column;
    }

    .leftWrapper {
        max-width: 100%;
        padding-right: 0%;
        margin-bottom: 30px;
    }

    .ourStoryImageContainer > img{
        width: 100%;
    }

    .reportWrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reportTextContainer {
        padding-left: 0px;
    }

    .ourStoryTextContainer{
        padding-right: 0px;
        padding-left: 0px;
    }
}


/* Testing */
.testImage{
    max-width: 500px;
    height: auto;
}

.slider-progress{
	/* position: absolute; */
	/* left: 0;
	bottom: 0; */
	width: 50%;
	height: 10px;
    background-color: #fff;
    border: #63C2C9 solid 2px;
    border-radius: 25px;
}
.slider-progress span{
	/* position: absolute; */
	/* left: 0; */
	/* bottom: 0; */
	display: block;
	width: 0px;
	height: 100%;
	background-color: #63C2C9;
	transition: all 0s linear;
}
.slider-progress span.active{
	width: 100%;
}

/* Testing out style */
.timelineSliderContainer{
    box-shadow: 10px 4px 40px #d2d2d2;
    padding: 50px 0px 50px 0px;
    margin: 50px 0px 100px 0px;
}

.timelineSliderHeading{
    margin-left: 100px;
}

.timelineSliderHeading > h2{
    font-size: 30px;
    font-weight: 600;
}

.timelineImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.timelineImageContainer > div{
    width: 50%;
    background-color: #aeaeae;
    display: flex;
    justify-content: center;
}

.progressBarContainer{
    display: flex;
    justify-content: center;
}

.timelineInfoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.timelineInfoContainer >div{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

@media only screen and (max-width: 1000px) {
    .timelineSliderHeading{
        margin-left: 20px;
    }

    .timelineImageContainer > div{
        width: 90%;
    }

    .timelineInfoContainer >div{
        width: 90%;
    }

    .slider-progress{
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .timelineInfoContainer >div{
        flex-direction: column;
    }
    .timelineInfoContainer > div>div >p{
       margin: 0px 0px 10px 0px;
    }
}