.wrapper{
    min-height: 800px;
}

.archiveContainer{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
}

.imageContainer{
    text-align: center;
    width: 300px;
    height:auto;
    min-height: 230px;
}
.profileImage{
    max-width: 400px;
    max-height: 250px;
    width: 100%;
    height: auto;
}
.cardTitle{
    font-size: large;
}

.textContainer{
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.userStoryContainer{
    max-width: 400px;
    box-shadow: 10px 4px 40px #aeaeae;
    padding: 20px;
    max-height: 600px;
}

.infoTextContainer{
    line-height: 25px;
    height: 240px;
}

.readMoreButton{
    border: #1E1E1E 1px solid;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.readMoreButtonContainer{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
   .infoTextContainer{
    height: auto;
   }

   .readMoreButtonContainer{
        margin-top: 30px;
   }
}