/* Intro Part of page */
.introContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
}

.introHeading {
    font-size: 50px;
    font-weight: 800;
    margin: 20px;
}

.highlight {
    color: #63C2C9;
}

.introText {
    font-size: x-large;
    font-weight: 500;
    margin: 10px 20px 10px 20px;
}

.introButtonContainer {
    margin-top: 20px;
}

.introButton {
    text-decoration: none;
    background-color: #63C2C9;
    border: none;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    font-size: larger;
    font-weight: 400;
}

/* USPs Slider */
.sliderContainer{
    margin-top: 30px;
    text-align: center;
}

.sliderImage{
    max-width: 300px;
    width: auto;
    height: 200px;
    object-fit: contain;
}

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 250px;
    width: 100%;
}

/* Company Review */
.quoteContainer{
    margin-top: 100px;
    box-shadow: 10px 4px 40px #aeaeae;
    padding: 20px;
    margin-bottom: 100px;
}

.companyReviewContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.reviewImage{
    border-radius: 200px;
    width: 300px;
    height: auto;
    margin-left: 100px;
}

.companyQuoteContainer{
    max-width: 800px;
    text-align: center;
}

.companyQuote{
    font-size: 28px;
    line-height: 35px;
}

.reviewInfoContainer{
    text-align: center;
    font-size: larger;
}

.reviewInfoContainer >p{
    margin: 10px;
    font-weight: 500;
}

.companyLogoContainer{
    display: flex;
    justify-content: center;
}

.companyLogoContainer > img{
    height: 60px;
    width: auto;
}

@media only screen and (max-width: 800px) {
    .companyReviewContainer{
        flex-direction: column;
    }

    .reviewImage{
        margin-left: 0px;
    }
}

@media only screen and (max-width: 900px) {
    .contactInfoHeading{
        width: 300px;
    }

    .contactInfoText{
        width: 300px;
    }

    .contactContainer{
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .contactInfoContainer{
        width: 100%;
        justify-content: flex-start;
    }

    .contactFormContainer{
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .messageInput{
        max-width: 100% !important; 
    }
}

/* Cohabit News Slider */

.newsImageContainer {
   height: 300px;
}

.newsImageContainer > img {
    max-height: 300px;
    height: auto;
    width: 100%;
    object-fit: contain;
}

.slick-prev::before, .slick-next::before{
    color: #676767;
    font-size: 25px;
}

.newsSlideCard{
    box-shadow: 0px 0px 10px #cdcdcd;
    padding: 50px;
    margin: 50px;
}

.slick-prev{
    left: 10px;
    z-index: 1;
}

.slick-next{
    right: 25px;
    z-index: 1;
}

@media screen and (max-width: 1700px) {
    .slick-list {
        left: 0px;
        right: 0px;
    }
}

.newsSectionHeading{
    font-size: 35px;
    padding-left: 50px;
    margin-bottom: 0px;
}

.newsContentContainer{
    line-height: 25px;
}

.newsContentContainer > p {
    min-height: 80px;
}

.newsCardDate{
    width: fit-content;
    margin: 15px 0px 15px 0px;
    font-weight: 600;
    font-size: 14px;
}

.newsCardButton>a{
    background-color: #63C2C9;
    color: black;
    padding: 10px 15px 10px 15px;

}

.newsContainer{
    margin-bottom: 100px;
}