.mainContainer{
    display: flex;
}

.contactFormContainer{
    margin: auto;
    width: 50%;
    padding-left: 50px;
}

.introHeading{
    font-size: 30px;
}

.messageInput{
    width: 60% !important;
}

.formLinks{
    display: flex;
    align-items: center;
    column-gap: 5px;
    row-gap: 10px;
    text-decoration: none;
    font-size: 18px;
}

.linkText:hover{
    text-decoration: underline;
}
.secondFont{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.contactImage{
    max-width: 600px;
    height: auto;
}

.contactImageContainer{
    width: 800px;
    display: flex;
    align-items: center;
}

.phoneContactInfo{
    margin-top: 0px;
}

@media only screen and (min-width: 1242px) {

}

@media only screen and (max-width: 1156px){
    .contactFormContainer{
        width: 95%;
        padding-left: 0px;
    }

    .messageInput{
       width: 100% !important;
    }
}

@media only screen and (min-width: 600px) {
    .messageInput{
        width: 70% !important;
    }
}
