/* General */
.mainContainer{
    display: flex;
    flex-direction: column;
}

.contactAndImageContainer{
    display: flex;
}

.linksContainer{
    margin-bottom: 100px;
    padding-left: 50px;
}

.secondFont{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

/* Heading */
.introHeading{
    font-size: 30px;
}

/* Contact form */
.contactFormContainer{
    margin: auto;
    width: 60%;
    padding-left: 50px;
}

.messageInput, .contactFormContainer > p{
    width: 60% !important;
}

/* Image Container */
.contactImage{
    max-width: 600px;
    width: 100%;
    height: auto;
}

.contactImageContainer{
    width: 40%;
    display: flex;
    align-items: center;
}

/* Links */
.formLinks{
    display: flex;
    align-items: center;
    column-gap: 5px;
    row-gap: 10px;
    text-decoration: none;
    font-size: 18px;
}

.linkText:hover{
    text-decoration: underline;
}

.phoneContactInfo{
    margin-top: 0px;
}

@media only screen and (max-width: 1600px){
    .contactFormContainer{
        width: 70%;
    }

    .contactImageContainer{
       padding-right: 30px;
    }
}

@media only screen and (max-width: 1156px){
    .contactFormContainer{
        width: 95%;
        padding-left: 0px;
    }

    .messageInput, .contactFormContainer > p{
       width: 60% !important;
    }

    .contactImageContainer{
        display: none;
        width: 0px;
    }

}

@media only screen and (max-width: 600px) {
    .messageInput, .contactFormContainer > p{
        width: 100% !important;
    }

    .contactAndImageContainer{
        margin: 0px 20px 0px 20px;
    }

    .linksContainer{
        padding-left: 0px;
        margin-left: 30px;
    }
}
