.boldPrice {
    font-weight: 700;
}

/* Hero */
.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
}

.heroHeading {
    font-size: 50px;
    font-weight: 800;
    margin: 20px;
}

.highlight {
    color: #DFB447;
}

.heroText {
    font-size: x-large;
    font-weight: 500;
    margin: 10px 20px 10px 20px;
}

.heroButtonContainer {
    margin-top: 20px;
}

.heroButton {
    text-decoration: none;
    background-color: #63C2C9;
    border: none;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    font-size: larger;
    font-weight: 400;
}

/* USPs SLider */
.uspsSliderContainer{
    margin-top: 30px;
    text-align: center;
}

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 250px;
    width: 100%;
}

.sliderImage{
    max-width: 300px;
    width: auto;
    height: 200px;
    object-fit: contain;
}

.movingInfoShadow {
    margin: 100px 0px 50px 0px;
    box-shadow: 10px 4px 40px #aeaeae;
}

.movingInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movingInfoTextContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.movingInfoHeading {
    font-size: 40px;
    font-weight: 600;
    margin: 40px auto 20px auto;
}

.movingInfoParagraph {
    max-width: 600px;
    font-size: large;
    line-height: 1.5;
}

.movingInfoButtonContainer {
    padding-top: 20px;
}

.movingInfoButton {
    text-decoration: none;
    border: solid #1E1E1E 2px;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    font-size: larger;
    font-weight: 500;
}

.movingInfoImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Customer Reviews */

.customerReviewsTitle{
    font-size: 35px;
    margin-left: 100px;
}

.userInfoContainer{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.sliderCard{
    padding: 50px;
    margin: 50px 50px 10px 50px;
    box-shadow: 0px 0px 10px #cdcdcd;
}

.customerReviewsImage {
    border-radius: 50%;
    width: 50px;
    height: auto;
}

.customerReviewName{
    margin: 0px;
    font-weight: 500;
    font-size: 18px;
}

.customerReviewLocation{
    margin: 0px;
    color: #676767;
}

.starsRatingContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.starsRatingContainer > img{
    height: auto;
    width: 100%;
    max-width: 200px;
}

.reviewText{
    line-height: 25px;
    font-style: italic;
    padding-bottom: 20px;
    text-align: center;
}

.slick-prev::before, .slick-next::before{
    color: #676767;
    font-size: 25px;
}

.slick-prev{
    left: 30px;
    z-index: 1;
}

.slick-next{
    right: 30px;
    z-index: 1;
}


/* Logo Slider */
.logoTitleContainer {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.logoTitle {
    font-size: 35px;
    margin: 20px;
}
/* Comment this out to show slider if needed */
.logosSlider {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}


.logoSlide>img {
    max-width: 150px;
}

.logoSlide {
    height: 120px;
} 

/* Smaller than 900px */
@media only screen and (max-width: 900px) {
    /* Moving Info */
    .movingInfoContainer {
        flex-direction: column;
    }

    .movingInfoTextContainer {
        width: auto;
        padding: 0px 10px 30px 10px;
    }

    .movingInfoImageContainer {
        display: contents;
        max-width: 100px;
        height: auto;
    }

    .movingInfoButtonContainer{
        display: flex;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 700px) {
    /* Customer reviews cards */
    
    .slick-slide {
        margin: 40px 10px 40px 10px;       
    }

    .slick-list {
        margin: 0 -27px;
    }

    .reviewSlider{
        max-width: 95%;
    }

    .sliderCard{
        padding: 25px;
    }
}

@media screen and (max-width: 1416px) {

    /* Customer Reviews */
    .customerReviewsTitle {
        text-align: center;
        margin-left: 0px;
        padding: 5px;
    }
}