/* How Cohabit Works */

.introContainer {
    text-align: center;
}

.introHeading {
    font-size: 50px;
    font-weight: 800;
}

.introHighlight {
    color: #63C2C9;
}

.introImage {
    max-width: 800px;
    width: 100%;
    height: auto;
}

.stepsContainer {
    padding: 100px 0px 100px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stepTextContainer {
    max-width: 600px;
}

.stepTextContainer>p {
    line-height: 25px;
}

.stepImage {
    margin-right: 50px;
}

.stepContainer {
    display: flex;
    margin: 50px 0px 50px 0px;
}

.howCohabitWorksLinks {
    color: #63C2C9;
    font-weight: 700;
}

.faqTitle {
    font-size: 35px;
    margin-left: 50px;
}

.faqHeadingContainer {
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #1E1E1E 2px solid;
}

.faqAllContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.faqSectionButton {
    margin: 0px 50px 0px 50px;
}

.faqHeadingContainer {
    padding: 5px 20px 5px 20px;
}

.faqHeadingContainer>h3 {
    font-size: 20px;
    font-weight: 400;
}

.faqHeadingContainer>img {
    width: 30px;
    height: 20px;
}

.faqQAContainer {
    display: none;
    padding: 0px 20px 0px 20px;
}

h4 {
    font-size: 25px;
    margin-bottom: 20px;
}

.faqQAContainer>div>p {
    line-height: 25px;
}

.faqBulletList>li {
    margin: 7px 0px 7px 0px;
}

@media only screen and (max-width: 1150px) {
    .stepContainer {
        flex-direction: column;
    }

    .stepImage {
        margin: auto;
        max-width: 400px;
        width: 100%;
        height: auto;
    }

    .stepTextContainer,
    .lastStepContainer {
        margin: 0px 20px 0px 20px;
    }

    .imageContainer {
        width: 100%;
        text-align: center;
    }
}